@import '../../../common/styles/fonts.sass'
@import '../../../common/styles/LightTheme'

.taskContainer
  background-color: var(--taskContainerColor)
  width: 250px
  height: 320px
  border-radius: 15px
  margin: 10px 0
  padding: 20px
  &:nth-child(4n+3)
    margin-left: 10px
    margin-right: 20px
  &:nth-child(4n+2)
    margin-left: 20px
    margin-right: 10px

.userBlock
  display: flex
  position: relative

.userPicture
  width: 50px
  height: 50px
  border-radius: 100px
  overflow: hidden
  display: flex
  .like
    color: var(--likeColor)
  .comment
    color: var(--commentColor)
  .follower
    color: var(--followerColor)
  .views
    color: var(--viewsColor)
  .unknown
    color: var(--unknownColor)

.actionIcon
  position: absolute
  display: flex
  left: 34px
  top: 34px
  padding: 5px
  background-color: var(--taskContainerColor)
  font-size: 10px
  border-radius: 50px

.cardCaption
  margin-left: 10px
  font-family: 'San Francisco Pro', sans-serif
  align-self: center
  line-height: 25px
  flex: 1

.userName
  font-weight: 600
  color: var(--textColor)

.userAction
  color: var(--navLinkColor)
  font-size: 14px
  text-transform: capitalize
  font-weight: 500

.cardActions
  width: 18px
  height: 18px
  display: flex
  padding: 5px
  align-items: center
  justify-content: center
  color: var(--cardActionsColor)
  &:hover
    background-color: var(--createBtnAndInputBgHoverColor)
    border-radius: 50px

.linkBlock
  width: 250px
  height: 180px
  margin-top: 20px
  overflow: hidden
  border-radius: 15px

.taskPerformBtn
  margin-top: 20px
  border-radius: 15px
  padding: 15px 70px
  border: 2px solid var(--performTaskColor)
  font-family: 'San Francisco Pro', sans-serif
  font-weight: 500
  cursor: pointer
  transition: background-color .2s
  color: var(--textColor)
  &:hover
    background-color: var(--performTaskColor)
    color: #fff
