@import '../../../common/styles/LightTheme'
@import '../../../common/styles/fonts'

.form
  min-width: 220px
  width: 430px

.fieldWrapper
  width: 100%

.text, .labelText
  color: $taskCreationCaptionColor

.text
  margin: 15px 0

.submitBtn
  font-weight: 500
  color: $textColor
  margin-top: 15px
  border: 2px solid #1750FF
  border-radius: 15px
  padding: 15px 20px