@import '../../../../common/styles/LightTheme'

.item
  box-sizing: border-box
  padding: 10px 25px 10px 10px
  border-radius: 15px
  display: flex
  align-items: center
  background-color: $backgroundColor
  &+&
    margin-top: 15px

.information
  margin-left: 10px

.icon
  width: 24px !important
  padding: 13px
  border-radius: 15px

.title
  font-size: 24px
  font-weight: 500

#likes
  background-color: #FFCECE
  color: #E24444
#newUsers
  background-color: #F1DEFF
  color: #A86CE4
#days
  background-color: #DEFFE5
  color: #50D86A
#money
  background-color: #FFF6DE
  color: #FFA10B
