.navMenu
  display: flex
  align-items: center

.navLink
  display: flex
  align-items: center
  text-decoration: none
  font-size: 18px
  color: var(--navLinkColor)
  &> *
    fill: var(--navLinkColor)

  &:focus
    outline: none
  &+&
    margin-left: 20px
.activeNavLink
  color: var(--textColor)
  &> *
    fill: var(--textColor)
.navMenuItemText
  margin-left: 5px
